mv-annotation-set, mv-redactions {
  .rotation {
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
    position: absolute;
  }

  .rot90 {
    -webkit-transform: translate(29.3%, -100%) rotate(90deg); /* Safari */
    -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
    /*-moz-transform-origin: right top; */
    -ms-transform: translate(29.3%, -100%) rotate(90deg); /* IE9 */
    -o-transform: translate(29.3%, -100%) rotate(90deg); /* Opera */
    transform: translate(29.3%, -100%) rotate(90deg); /* W3C */
    position: relative;
  }

  .rot180 {
    -webkit-transform: translateX(100%) translateY(-100%) rotate(180deg); /* Safari */
    -moz-transform: translateX(100%) translateY(-100%) rotate(180deg); /* Firefox 3.6 Firefox 4 */
    /*-moz-transform-origin: right top; */
    -ms-transform: translateX(100%) translateY(-100%) rotate(180deg); /* IE9 */
    -o-transform: translateX(100%) translateY(-100%) rotate(180deg); /* Opera */
    transform: translateX(100%) translateY(-100%) rotate(180deg); /* W3C */
  }

  .rot270 {
    -webkit-transform: rotate(-90deg) translate(-71%, 0); /* Safari */
    -moz-transform: rotate(-90deg) translate(-71%, 0); /* Firefox 3.6 Firefox 4 */
    -ms-transform: rotate(-90deg) translate(-71%, 0); /* IE9 */
    -o-transform: rotate(-90deg) translate(-71%, 0); /* Opera */
    transform: rotate(-90deg)  translate(-71%, 0); /* W3C */
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    position: relative;
  }

  .drawMode, .rot90, .rot180, .rot270 {
    z-index: 4;
  }

  .pageContainer {
    width: 100%;
    position: absolute;
    top: 0;
    &__page {
      border: 1px solid transparent; // fix for text-highlight mispositioned
      background-color: transparent;
      margin: 0 auto 8px auto;
      position: relative;
    }

    &__page-item {
      z-index: 100;
    }
  }
  .pageContainer__page--draw {
    z-index: 100;
  }
}



