.bookmark__save {
  background: url(/assets/images/bookmark-save.svg) 0 0  no-repeat;
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(349deg) brightness(107%) contrast(101%);
  border: none;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  margin: 2px 0px 0px 5px;
  padding: 2px;
}

.bookmark__rename {
  background: url(/assets/images/bookmark-rename.svg) 0 0  no-repeat;
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(349deg) brightness(107%) contrast(101%);
  border: none;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  margin: 2px 0px 0px 5px;
  padding: 2px;
}

.bookmark__delete {
  background: url(/assets/images/icon-tag-remove-cross.svg) 0 0  no-repeat;
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(349deg) brightness(107%) contrast(101%);
  border: none;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  margin: 2px 2px 2px 5px;
  padding: 2px;
}


.bookmark__input {
  width: calc(100% - 50px); /* Subtract the right padding (left, in RTL mode)
                            of the container. */
  background-color: #474747;
  color: hsla(0,0%,100%,.8);
  font-size: 13px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1px;
}
