mv-box-highlight-create {
  .box-highlight {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 10;
    opacity: 0.5;
  }

  // for keyboard users
  .drawing-cursor {
    width: 20px;
    height: 20px;
    margin-left: -10px; // center horizontally
    margin-top: -10px;  // center vertically
    z-index: 15;
    pointer-events: none;
    border-radius: 50%;
    background-color: red;
  }
}
