.commentSummaryHeader {
  .has-scroll-bar & {
    right: 14px
  }

  width: 24%;
  opacity: 0;
  position: absolute;
  right: -25%;
  z-index: 5;
  border-width: 0 1px 1px 0;
  border-color: #888888;
  border-style: solid;
  padding: 3px 0px 0px 0;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.30), inset 0 0px 0 0 #DDDDDD;
  overflow: hidden;
  transition-duration: 600ms;
  transition-timing-function: ease;
  .show-comments-panel & {
    right: 0;
    opacity: 1;
  }

  .hmcts-banner__message {
    @include govuk-font($size: 16);
  }

  .aui-comment__private-text {
    margin: 0;
  }
}

.searchComments {
  border: none;
  border-left: 1px solid #DDDDDD;
  float: right;
  position: relative;
  background: url(/assets/images/toolbarButton-searchComments.png) 5px 5px no-repeat;
  fill: #0B0C0C;
  background-size: 15px 15px;
  height: 25px;
  width: 25px;
  margin: 5px 5px 0;
  cursor: pointer;
  &:hover {
    background-color: #DDDDDD;
  }


}
