.comment-filter {
  .isVisible & {
    display: block;
  }
}

.comment-filter {
  display: none;
  border: none;
  .hmcts-filter__selected, .hmcts-filter__options {
    padding: 0;
  }

  .hmcts-filter__options {
    box-shadow: none;
  }

  .hmcts-filter__tag {
    &:after {
      background-image: url(/assets/images/icon-tag-remove-cross.svg);
    }
  }

  .hmcts-filter__tag:hover {
    &:after {
      background: url(/assets/images/icon-tag-remove-cross.svg) #DDDDDD;
    }
  }

  .govuk-checkboxes__item {
    label {
      @include govuk-font($size: 16);
    }
  }

  .hmcts-filter__selected-heading {
    float: right;
  }

  .hmcts-filter-tags {
    clear: both;
  }

  h3 {
    float: left;
  }

  fieldset {
    border: none;
  }
}

.govuk-tabs__list-item--filtered {
  position: relative;
  &:before {
    background: url(/assets/images/icon-filter.svg) 0 0 no-repeat;
    filter: invert(23%) sepia(30%) saturate(6654%) hue-rotate(354deg) brightness(97%) contrast(88%);
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    top: -10px;
    left: 31px;
  }
}
