@import "~ngx-chips/core/styles/core/core";

$foundation-primary: #1779ba;
$foundation-primary-dark: darken($foundation-primary, 10%);

mv-anno-comment {
  form {
    position: absolute;
    width: 85%;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    background-color: #ffffff;
    padding: 20px 20px 0;
  }

  span, textarea, p {
    font-size: 1rem;
    font-family: nta,Arial,sans-serif;
    color: #000000;
  }

  form textarea {
    width: 100%;
    padding: 2px;
    border: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    resize: none;
  }

  textarea.view-mode:focus {
    outline: none;
  }

  #detailsWrapper {
    padding: 0;
  }

  #detailsWrapper.expanded {
    margin-bottom: 15px;
  }

  .commentBtns {
    height: 50px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  .expanded {
    margin-top: 0px;
  }

  .collapsed {
    height: 30px;
  }
  textarea.expanded {
    margin-bottom: 10px;
  }

  textarea.collapsed {
    margin-top: -25px;
    max-height: 20px;
    overflow: hidden;
  }

  time {
    font-size: 0.88rem;
    color: #6F777B;
  }

  .collapsed > time {
    display: none;
  }

  textarea.edit-mode {
    outline: 5px auto #0B0C0C;
  }

  textarea.view-mode {
    outline: none;
  }

  .aui-comment__header {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .unselectedText {
    font-size: 1rem;
    font-family: nta,Arial,sans-serif;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }



}

$foundation-theme: (
  container-border-bottom: 1px solid $foundation-primary
);

$foundation-tag-theme: (
  background: $foundation-primary,
  background-focused: $foundation-primary-dark,
  background-active: $foundation-primary-dark,
  background-hover: $foundation-primary-dark,
  color: #fff,
  color-hover: #fff,
  border-radius: 2px
);

$foundation-icon-theme: (
  fill: #fff,
  fill-focus: #eee,
  transition: all 0.35s
);

:ng-deep .ng2-tag-input.foundation-theme {
  @include tag-input-theme($foundation-theme);
}

:ng-deep .ng2-tag-input.foundation-theme tag {
  @include tag-theme($foundation-tag-theme);
}

:ng-deep .ng2-tag-input.foundation-theme tag delete-icon {
  @include icon-theme($foundation-icon-theme);
}

button {
  font-size: 1rem;
}

.aui-comment__private {
  background: url("../../assets/images/lock_48px.svg") 0 0 no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
  width: 55px;
  text-transform: uppercase;
  color: #990000;
  font-size: .8rem;
  display: block;
  margin-bottom: 10px;
  position: relative;
  font-weight: bold;
  padding-top: 2px;
  &:after {
    display: block;
    content: '';
    border: 1px solid #990000;
    width: 58px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;

  }
}
