.comments-panel {
  position: absolute;
  overflow-y: auto;
  top: 0;
  right: 0%;
  width: 0%;
  z-index: 1;
  padding-top: -10px;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background-color: white;
  border-block: #0B0C0C;
  border-style: solid;
  border-color: #dee0e2;
  border-width: thin;
}

.comments-panel.expanded {
  width: 24%;
}

.comments-panel.icp-mode {
  top: 89px;
  height: 100%
}

