/* mixin for multiline, credit: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

%sort-icons {
  width: 20px;
  height: 20px;
  margin: 7px 0 0 2px;
}

mv-comments-summary {
  .dates {
    * {
      font-size: 16px;
    }
    overflow: hidden;
    clear: both;
    .dates__from, .dates__to, .dates__tags {
      float: left;
    }

    .dates__to, .dates__tags {
      padding-left: 20px;
      border-left: 1px solid #b1b4b6;
    }

    .dates__tags {
      width: 400px;
      .govuk-checkboxes__item {
        float: left;
        clear: none;
      }
    }
    .dates__cta {
      clear: both;
    }
  }
  .datatable-icon-up {
    @extend %sort-icons;
    background: url(/assets/images/icon-sort-up.svg) 0 1px no-repeat;
    background-size: 10px;
  }
  .datatable-icon-down {
    @extend %sort-icons;
    background: url(/assets/images/icon-sort-down.svg) 0 1px no-repeat;
    background-size: 10px;
  }

  ngx-datatable {
    * {
      font-family: "GDS Transport", Arial, sans-serif;
      font-size: 19px;
    }
  }

  .comment-summary_pages{
    display: inline-block;
    padding: 0 10px;
    height: 25px;
  }

  .datatable-header-cell {
    font-weight: bold;
  }

  .hmcts-badge {
    margin-right: 3px;
    display: inline-block;
  }

  .datatable-body-row, .datatable-header {
    border-bottom: 1px solid #b1b4b6;
    padding: 3px 0;
  }

  .datatable-body-cell, .datatable-header-cell {
    padding: 5px 0
  }

  .datatable-header-inner {
    border-bottom: #888888;
  }

  .clipped {
    display: block;
    width: 550px;
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);
  }

  tr {
    height: 52px;
  }

  .modal {
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #888;
    background-color: white;
  }

  .comment-container {
    min-height: 400px;
    max-height: 700px;
    overflow-y: scroll;
    margin-bottom: 20px;
  }

  .button-container {
    float: right;

    button {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  .clearfix {
    overflow: auto;
  }

  a {
    cursor: pointer;
  }
}
