a.disabledLink {
  pointer-events: none;
  cursor: default;
  color: grey;
}

a.comment-search__item,
span.comment-search {
  padding-right: 10px;
}

button.comment-search__item {
  width: 24%;
  margin-bottom: 10px;
}

input.comment-search__item {
  width: 74%;
  margin-left: 2px;
  margin-right: 2px;
  @include govuk-font($size: 16);
}

.comment-search {
  margin-left: -5px;
  clear: both;
}
