.comments-panel {
  display: none;
  position: absolute;
  overflow-y: auto;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background-color: white;
  border-block: #0B0C0C;
  border-style: solid;
  border-color: #dee0e2;
  border-width: thin;
}

.comments-panel.expanded {
  min-height: 100%;
  display: block;
}

.comments-panel.icp-mode {
  top: 90px;
  height: 100%
}

@media (max-width: 1200px) {
  .comments-panel {
    margin-top: 2.6rem;
  }
}

@media (max-width: 1040px) {
  .comments-panel {
    margin-top: 5rem;
  }
}