
/* mixin for multiline, credit: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

mv-comments-summary {
  .clipped {
    display: block;
    width: 550px;
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);
  }

  tr {
    height: 52px;
  }

  .modal {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #888;
    background-color: white;
  }

  .comment-container {
    min-height: 400px;
    max-height: 700px;
    overflow-y: scroll;
    margin-bottom: 20px;
  }

  .button-container {
    float: right;

    button {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  .clearfix {
    overflow: auto;
  }

  a {
    cursor: pointer;
  }
}
