mv-pdf-viewer {
  .pdfContainer {
    overflow: auto;
    position: relative;
    background-color: #dee0e2;

    .viewer-container {
      position: absolute;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      &.annotations {
        width: 100%;
      }

      &.annotations.show-comments-panel {
        width: 75%;
      }
    }

    .comments {
      position: absolute;
      overflow-y: hidden;
      top: 0;
      right: 0;
      width: 24%;
      height: 100%;
    }

    .pageContainer {
      width: 100%;
    }
  }

  .hidden {
    display: none !important;
  }

  .loadingMessage {
    margin-top: 5%;
    text-align: center;
  }

  .highlightMode > .page > .textLayer {
    z-index: 1000;
  }

  .drawMode > .page > mv-metadata-layer > div {
    z-index: 1000;
  }

  .drawMode > .page > mv-redactions > div {
    z-index: 1000;
  }

  .linkAnnotation > a:hover {
    opacity: 0 !important;
  }

  .canvasWrapper {
    max-width: 100%;
    max-height: 100%;
  }

  .canvasWrapper > canvas{
    max-width: 100%;
    max-height: 100%;
  }

  .textLayer {
    z-index: 1;
  }

  .textLayer .markedContent > span {
    position: absolute;
    transform-origin: left
  }


  .textLayer .markedContent > br {
    position: absolute;
  }

  .annotationLayer * {
    z-index: 2 !important;
  }

  .commentSummaryHeader {
    .has-redact-bar & {
      display: none;
    }
    top: 28px;
  }

  .icp-mode {
    top: 85px;
  }

  .pdfViewer {
    width: 100%;
    transition-duration: 600ms;
    transition-timing-function: ease;

    &.highlightMode {
      position: relative;
    }
  }

  // keyboard cursor for text highlighting (before selection)
  .selection-start-cursor {
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: -7px;
    pointer-events: none;
    background-color: #ffdd00;
    border-radius: 50%;
    border: 1px solid #ffdd00;

    // vertical line
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: #0b0c0c;
      transform: translateX(-0.5px);
    }

    // horizontal line
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #0b0c0c;
      transform: translateY(-0.5px);
    }
  }

  // keyboard cursor for text highlighting (during selection)
  .selection-end-cursor {
    width: 1px;
    height: 12px;
    margin-left: -1px;
    margin-top: -10px;
    pointer-events: none;
    background-color: #0b0c0c;
    border-radius: 0;
    box-shadow: -1px 0 0 #ffffff, 1px 0 0 #ffffff;

    // I-beam top
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 50%;
      width: 5px;
      height: 1px;
      background-color: #0b0c0c;
      transform: translateX(-50%);
      box-shadow: 0 -1px 0 #ffffff, 0 1px 0 #ffffff;
    }

    // I-beam bottom
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 5px;
      height: 1px;
      background-color: #0b0c0c;
      transform: translateX(-50%);
      box-shadow: 0 -1px 0 #ffffff, 0 1px 0 #ffffff;
    }
  }

  .show-comments-panel {
    .pdfViewer,
    .pageContainer {
      .has-redact-bar & {
        width: 100%;
      }
      width: 75%;
    }
  }

  .grabNDrag {
    .pdfViewer {
      & > * {
        pointer-events: none;
      }
    }
  }

  .splitToolbarButton.right {
    float: right;
  }

  .splitToolbarButton.left {
    float: left;
  }
}