mv-pdf-viewer {
  .pdfContainer {
    overflow: auto;
    position: relative;
    background-color: #dee0e2;

    .viewer-container {
      position: absolute;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      &.annotations {
        width: 100%;
      }

      &.annotations.show-comments-panel {
        width: 75%;
      }
    }

    .pageContainer {
      width: 100%;
    }
  }

  .hidden {
    display:none!important;
  }

  .loadingMessage {
    margin-top: 5%;
    text-align: center;
  }

  .highlightMode > .page > .textLayer {
    z-index: 1000;
  }

  .drawMode > .page > mv-metadata-layer > div {
    z-index: 1000;
  }

  .drawMode > .page > mv-redactions > div {
    z-index: 1000;
  }

  .linkAnnotation > a:hover {
    opacity: 0.0 !important;
  }

  .textLayer {
    z-index: 1;
  }

  .annotationLayer * {
    z-index: 2;
  }

  .commentSummaryHeader {
    .has-redact-bar & {
      display: none;
    }
    top: 28px
  }

  .icp-mode {
    top: 85px;
  }

  .pdfViewer {
    width: 100%;
    transition-duration: 600ms;
    transition-timing-function: ease;
  }

  .show-comments-panel {
    .pdfViewer, .pageContainer {
      .has-redact-bar & {
        width: 100%;
      }
      width: 75%;
    }
  }

  .grabNDrag {
    .pdfViewer {
      & > * {
        pointer-events: none;
      }
    }
  }

  .splitToolbarButton.right {
    float: right;
  }

}
