mv-pdf-viewer {
  .pdfContainer {
    overflow: auto;
    position: relative;
    width: 100%;
    background-color: #dee0e2;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .pdfContainer::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE and Edge */
  .pdfContainer {
    -ms-overflow-style: none;
  }

  .hidden {
    display:none!important;
  }

  .loadingMessage {
    text-align: center;
  }

  .highlightMode > .page > .textLayer {
    z-index: 1000;
  }

  .drawMode > .page > mv-annotation-set > div {
    z-index: 1000;
  }

  .drawMode > .page > mv-reductions > div {
    z-index: 1000;
  }

  .linkAnnotation > a:hover {
    opacity: 0.0 !important;
  }

  .textLayer {
    z-index: 1;
  }

  .annotationLayer * {
    z-index: 2;
  }

  .commentSummaryHeader {
    .has-reduce-bar & {
      display: none;
    }
    top: 28px
  }

  .pdfViewer {
    width: 100%;
    overflow-x: auto;
  }

  .show-comments-panel {
    .pdfViewer, .pageContainer {
      .has-reduce-bar & {
        width: 100%;
      }
      width: 75%;
    }
  }

  .grabNDrag {
    .pdfViewer {
      & > * {
        pointer-events: none;
      }
    }
  }

  .splitToolbarButton.right {
    float: right;
  }

}
