mv-anno-rectangle {
  .rectangle {
    position: absolute;
    z-index: 3;
    opacity: 0.3;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    font-weight: bolder;
  }

  .rectangle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .grabNDrag {
    pointer-events: none;
  }
}
