.tooltip {
  /* default: place above */
  --tooltip-offset-y: -50%;
}

.tooltip::before {
  content: attr(data-tooltip); /* Tooltip text comes from attribute */
  position: absolute;
  top: var(--tooltip-offset-y);
  left: 50%;
  transform: translateX(-50%);
  background: #e3e2e1;
  color: #444444;
  border: 1px solid #d1d1d1;
  font-size: 11px;
  font-family: system-ui, sans-serif;
  padding: 3px 6px;
  border-radius: 2px;
  /* Dynamic sizing */
  white-space: nowrap;
  width: max-content;
  max-width: 300px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

/* Show tooltip on hover and focus */
.tooltip:hover::after,
.tooltip:focus::after,
.tooltip:hover::before,
/* Show tooltip on hover or keyboard focus */
.tooltip:focus::before {
  opacity: 1;
  visibility: visible;
}

/* place below */
.tooltip[data-placement="bottom"] {
  --tooltip-offset-y: 100%;
}