# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
cucumber.json

# dependencies
node_modules/
projects/media-viewer/node_modules/
**/**/node_modules/
reports/

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

api/\.sessions/

reports_json/
.nyc_output/
cb_reports/
report.json

# stryker temp files
.stryker-tmp
stryker-tmp/
stryker.log
/test/.local-test.env
