language: node_js
node_js:
- lts/*
cache:
  yarn: true
  directories:
  - node_modules
sudo: required
env:
  - MOZ_HEADLESS=1
addons:
  chrome: stable
  firefox: latest
apt:
  sources:
  - google-chrome
  packages:
  - google-chrome-stable
  - google-chrome-beta
script:
- npm --version
- npm install
- npm run package
- npm test
- npm run e2e:ci
- npm run start:ng & sleep 5
- npm run test:pa11y
after_success:
- npm run test:codecov-upload
- npm run test:coveralls-upload
before_deploy:
- cd dist/media-viewer
deploy:
  provider: npm
  email: jenkins-reform@hmcts.net
  api_key:
    secure: jvSpcPdEME2YsT717CjsWMiJuPK0GvelHvzkbNSkW2aci/degnp7qTWixE+2RmDHK0QVdK3xxWFboXkIkvSqFlx+OsxnBOfQiIzVekaEv5rd+qoVUnLre1nfR/S4HIQfyyNJHBEDFxu+uphlY6UbEMCFGP2RPccnc/LPV8ue6FYHokmBs5d6wUoAZTUTwt2u6fsYs9faDPLyylOacYCVcFGpPwJI32Gio6kFBTQsmCEKG656biHDgzbvwY45PiyzPccfHd4H/x5yQPgvTIaKJhFFx937+sWTYUk7HvOHcSYvXABC8Y0iE5XJt6x9z2jXWocV4aP+Rtg1OiKJA/N1g2EcVKKjC7y4PQWqpQQs3fw09DtflzMJxGNyPLQ07NkivfOMA1lPPMUW5a9MLji1/xDswx4zp7391pGG7QxB+JLqlIuVOBmuDC26QfmVsXmnUbXwdteB5S9ANDZXvc/ZMOi7v97r/Er4/H7eS4OhvugpaE8iGe4682A9KjMIE39lQX+g2saPIqGOxOUX7pzJ4mulbKBRbcsFvXBtBElGmFSn4FnYvk3krgJYIKq2SQZSDr+TGec/KFaFz+3psMDH2xlm5WS2MEgW5yOSfOqieYO8F8tw2p7nONDIDkTpgxvBhSC9E+hE3nhIETNNoqP24xqTPdV8+lAoxKprj5D0RSA=
  skip_cleanup: true
  on:
    tags: true
    repo: hmcts/media-viewer
    all_branches: true
