<div>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <a class="govuk-tag govuk-tag--grey" style="cursor: pointer" (click)="toggleHeader()">Media Viewer Demo</a>
    </div>
    <ng-container *ngIf="showHeader">
      <div class="govuk-grid-row">
        <app-toolbar-toggles [showToolbar]="showToolbar"
                             [showCustomToolbar]="showCustomToolbar"
                             (toggleAnnotations)="toggleAnnotations($event)"
                             (toggleRedaction)="toggleRedaction($event)"
                             (toggleICP)="toggleICP($event)"
                             (toggleToolbar)="toggleToolbar($event)"
                             (toggleToolbarBtns)="toggleToolbarBtns($event)"
                             (toggleCustomToolbar)="toggleCustomToolbar($event)"
                             (showCommentSummary)="toggleCustomToolbar($event)"></app-toolbar-toggles>
      </div>
    <div class="govuk-grid-row">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Change document details</span>
        </summary>
        <form #form="ngForm">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="url-and-type-group">
              <div class="govuk-date-input" id="url-and-type">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="documentUrl">
                      Url
                    </label>
                    <input class="govuk-input" id="documentUrl" name="documentUrl" type="text"
                           aria-label="document url" [ngModel]="url">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="documentType">
                      Content type
                    </label>
                    <input class="govuk-input govuk-input--width-4" id="documentType" name="documentType" type="text"
                           aria-label="document type" ngModel [ngModel]="documentType">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="documentType">
                      Case ID
                    </label>
                    <input class="govuk-input" id="caseId" name="caseId" type="text"
                           aria-label="case id" ngModel [ngModel]="caseId">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <button class="govuk-button" style="vertical-align: unset" type="submit"
                            (click)="setFormData(form.value)">Load document</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </form>
      </details>
    </div>
    <div class="govuk-grid-row">
      <div *ngIf="mediaLoadStatus && mediaLoadStatus ==='SUCCESS'" class="govuk-panel--confirmation">
        <div class="govuk-panel__body">
          Document load result: <strong>{{ mediaLoadStatus }}</strong>
        </div>
      </div>
        <div *ngIf="mediaLoadStatus && ['FAILURE', 'UNSUPPORTED'].includes(mediaLoadStatus)"
             class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">Document load result: <strong>{{ mediaLoadStatus }}</strong></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="unsavedChanges" class="hmcts-banner hmcts-banner--warning">
        <svg class="hmcts-banner__icon" height="25" width="25">
          <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"></path>
        </svg>
        <div class="hmcts-banner__message">
          <span class="hmcts-banner__assistive">Warning</span>
          You have unsaved comments. Please save before closing the document.
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-width-two-thirds">
        <div class="govuk-grid-column-two-thirds">
          <button class="govuk-button govuk-!-margin-left-2 govuk-!-width-one-quarter" data-module="govuk-button"
                  [ngClass]="{ 'govuk-button--secondary': documentType !== 'pdf' }" id="pdf-button"
                  (click)="setDocumentType('pdf')">PDF
          </button>
          <button class="govuk-button govuk-!-margin-left-2 govuk-!-width-one-third"
                  [ngClass]="{ 'govuk-button--secondary': documentType !== 'image' }" id="image-button"
                  data-module="govuk-button" (click)="setDocumentType('image')">Image
          </button>
          <button class="govuk-button govuk-!-margin-left-2 govuk-!-width-one-third"
                  data-module="govuk-button" id="audio-button"
                  [ngClass]="{ 'govuk-button--secondary': documentType !== 'mp4' }"
                  (click)="setDocumentType('mp4')">Audio
          </button>
        </div>
        <div class="govuk-grid-column-one-third">
          <button class="govuk-button govuk-!-full-width" data-module="govuk-button" id="unsupported-button"
                  [ngClass]="{ 'govuk-button--secondary': documentType !== null }"
                  (click)="setDocumentType(null)">Unsupported
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <app-custom-toolbar *ngIf="showCustomToolbar"
                      [toolbarEvents]="toolbarEvents"
                      [contentType]="documentType"></app-custom-toolbar>
  <mv-media-viewer [url]="url"
                   [caseId]="caseId"
                   [downloadFileName]="filename"
                   [contentType]="documentType"
                   [enableAnnotations]="enableAnnotations"
                   [enableRedactions]="enableRedactions"
                   [enableICP]="enableICP"
                   [showToolbar]="showToolbar"
                   [toolbarButtonOverrides]="toolbarButtonOverrides"
                   (mediaLoadStatus)="onMediaLoad($event)"
                   (toolbarEventsOutput)="getToolbarFunctions($event)"
                   (unsavedChanges)="onUnsavedChanges($event)"></mv-media-viewer>
</div>
