<div>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m  govuk-!-margin-top-4">Media Viewer Demo</h2>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <table style="float: right">
          <tr>
            <td><span class="govuk-heading-s govuk-!-margin-top-4">search</span></td>
            <td>
              <label  style="float: right" class="switch govuk-!-margin-right-2">
                <input type="checkbox" [checked]="toolbarButtons.showSearchbarToggleBtn"
                       name="search" [(ngModel)]="toolbarButtons.showSearchbarToggleBtn">
                <span class="slider round"></span>
              </label>
            </td>
            <td><span class="govuk-heading-s govuk-!-margin-top-4">naviagate</span></td>
            <td>
              <label  style="float: right" class="switch govuk-!-margin-right-2">
                <input type="checkbox" [checked]="toolbarButtons.showNavigationBtns"
                       name="navigate" [(ngModel)]="toolbarButtons.showNavigationBtns">
                <span class="slider round"></span>
              </label>
            </td>
            <td><span class="govuk-heading-s govuk-!-margin-top-4">zoom</span></td>
            <td>
              <label  style="float: right" class="switch govuk-!-margin-right-2">
                <input type="checkbox" [checked]="toolbarButtons.showZoomBtns"
                       name="zoom" [(ngModel)]="toolbarButtons.showZoomBtns">
                <span class="slider round"></span>
              </label>
            </td>
            <td><span class="govuk-heading-s govuk-!-margin-top-4">print</span></td>
            <td>
              <label  style="float: right" class="switch govuk-!-margin-right-2">
                <input type="checkbox" [checked]="toolbarButtons.showPrintBtn"
                       name="print" [(ngModel)]="toolbarButtons.showPrintBtn">
                <span class="slider round"></span>
              </label>
            </td>
            <td><span class="govuk-heading-s govuk-!-margin-top-4">download</span></td>
            <td>
              <label  style="float: right" class="switch govuk-!-margin-right-2">
                <input type="checkbox" [checked]="toolbarButtons.showDownloadBtn"
                       name="download" [(ngModel)]="toolbarButtons.showDownloadBtn">
                <span class="slider round"></span>
              </label>
            </td>
            <td><span class="govuk-heading-s govuk-!-margin-top-4">toolbar</span></td>
            <td>
              <label  style="float: right" class="switch govuk-!-margin-right-2">
                <input type="checkbox" [checked]="showToolbar" (change)="toggleToolbarVisibility($event.target.checked)">
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="govuk-tabs" data-module="tabs">
    <div class="govuk-width-container">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a [className]="tabLinkStyle('pdf')" id="pdf" href="#pdf" (click)="toggleDocumentSelection('pdf')">
            PDF Viewer
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a [className]="tabLinkStyle('image')" id="image" href="#image" (click)="toggleDocumentSelection('image')">
            Image Viewer
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a [className]="tabLinkStyle('unsupported')" id="unsupported" href="#unsupported" (click)="toggleDocumentSelection('unsupported')">
            Unsupported Documents Viewer
          </a>
        </li>
      </ul>
    </div>
    <section [id]="documentTypeToShow">
        <mv-media-viewer *ngIf="documentTypeToShow === 'pdf'"
                         [url]="'assets/example.pdf'"
                         [downloadFileName]="'example.pdf'"
                         [showToolbar]="showToolbar"
                         [toolbarButtonToggles]="toolbarButtons"
                         [contentType]="'pdf'">
        </mv-media-viewer>
        <mv-media-viewer *ngIf="documentTypeToShow === 'image'"
                         [url]="'assets/example.jpg'"
                         [showToolbar]="showToolbar"
                         [downloadFileName]="'example.jpg'"
                         [toolbarButtonToggles]="toolbarButtons"
                         [contentType]="'image'">
        </mv-media-viewer>
        <mv-media-viewer *ngIf="documentTypeToShow === 'unsupported'"
                         [url]="'assets/unsupported.txt'"
                         [downloadFileName]="'unsupported.txt'"
                         [showToolbar]="showToolbar"
                         [toolbarButtonToggles]="toolbarButtons"
                         [contentType]="'txt'">
        </mv-media-viewer>
    </section>
  </div>
</div>
