<div class="aui aui--show-comments">

  <div class="aui__toolbar" role="toolbar">
    <div class="aui__toolbar-container">
      <button
        class="aui__toolbar-button"
        type="button"
        role="button">
        <b>Media Viewer Demo</b>
      </button>
    </div>
  </div>
  <div class="aui__toolbar" role="toolbar">
    <div class="aui__toolbar-container">
      <button (click)="toggleDocumentSelection('pdf')"
        class="aui__toolbar-button aui__toolbar-button--items"
        type="button"
        role="button">
        PDF Viewer
      </button>
      <button (click)="toggleDocumentSelection('image')"
        class="aui__toolbar-button aui__toolbar-button--items"
        type="button"
        role="button">
        Image Viewer
      </button>
      <button (click)="toggleDocumentSelection('unsupported')"
              class="aui__toolbar-button aui__toolbar-button--items"
              type="button"
              role="button">
        Unsupported Viewer
      </button>
    </div>
  </div>

  <div class="aui__window">

    <div class="aui__window-container">

      <div class="aui__document">
        <div class="aui__document-comments" id="comments" style="display: block">
          <div class="hmcts-alert">

            <svg class="hmcts-alert__icon" fill="currentColor" role="presentation" focusable="false"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
              <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
            </svg>
            <span class="hmcts-alert__message">
              <span class="hmcts-alert__assistive">Success</span>
              Select text to add a comment.
            </span>
          </div>
        </div>
        <div class="aui__document-pages">
          <div class="aui__document-page">
            <div class="aui-casefile-document-wrapper">
              <div class="aui-casefile-page editable medium-editor-element" data-medium-editor-element="true"
                   role="textbox"
                   aria-multiline="true" data-medium-editor-editor-index="1"
                   medium-editor-index="ca3cfb8f-8b6a-8f73-1ed5-fa7679703446" data-placeholder="Type your text">

                <app-media-viewer *ngIf="documentTypeToShow === 'pdf'"
                                  [url]="'assets/non-dm.pdf'"
                                  [contentType]="'pdf'"
                                  >
                </app-media-viewer>
                <app-media-viewer *ngIf="documentTypeToShow === 'image'"
                                  [url]="'assets/non-dm.jpg'"
                                  [contentType]="'image'"
                                  >
                </app-media-viewer>
                <app-media-viewer *ngIf="documentTypeToShow === 'unsupported'"
                                  [url]="'assets/unsupported.txt'"
                                  [contentType]="'txt'"
                                  >
                </app-media-viewer>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
