// global toolbar for <a> and <p> tags
$govuk-global-styles: true;
// Width of main container
$hmcts-page-width: 1220px;

// Consumer component will have to import following dependencies // START
// Import GOV.UK Frontend
@import "~govuk-frontend/all";
@import "~@hmcts/frontend/all";
// Import Media Viewer Styles
@import "projects/media-viewer/src/assets/aui-styles";
@import "projects/media-viewer/src/assets/sass/settings";
@import "projects/media-viewer/src/assets/sass/document";
@import "projects/media-viewer/src/assets/sass/settings";
// END

html {
  background-color: govuk-colour("grey-3");
}

.js-enabled .js-hidden {
  display: none !important;
}

.aui-measure {
  max-width: 833px;
}


.aui-case-action-alert {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(4);
}

.aui-case-action-alert__heading {
  color: inherit;
}

.aui-case-action-alert__content {
  color: inherit;

  p:last-child {
    margin-bottom: 0;
  }

}

.aui-case-action-alert__link:link,
.aui-case-action-alert__link:visited {
  color: govuk-colour("white");
}


// Case action alert

.aui-case-action-alert {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(4);
}


.aui-case-action-alert__heading {
  @include govuk-font(
    $size: 24,
    $weight: bold
  );
  color: inherit;
  margin-bottom: govuk-spacing(2);
  margin-top: 0;
}


.aui-case-action-alert__content {
  color: inherit;

  p:last-child {
    margin-bottom: 0;
  }

}


.aui-case-action-alert__link:link {
  color: govuk-colour("white");
}


.aui-case-action-alert__link:focus {
  color: govuk-colour("black");
}

