@import 'sass/settings';
@import "sass/annotation-set";
@import "sass/annotation-ui-theme";
@import "sass/box-highlight";
@import "sass/comment";
@import "sass/comment-search";
@import "sass/comment-set-header";
@import "sass/comment-set-panel";
@import "sass/comment-set-toggle";
@import "sass/comments-summary-dialog";
@import 'sass/document';
@import "sass/error-message";
@import "sass/image-viewer";
@import 'sass/media-viewer';
@import 'sass/outline-attachment';
@import "sass/pdf-viewer";
@import "sass/popup-toolbar";
@import "sass/rectangle";
@import "sass/tags";
@import "sass/toolbar/main";
@import 'sass/tabs';

div.govuk-prose-scope, p {
  white-space: pre-wrap;
}

td.govuk-table__cell {
  white-space: pre-wrap;
}
