<table style="float: right; margin-top: 15px;">
  <tr>
    <ng-container *ngIf="toggleToolbar.getValue()">
      <td app-toggle [label]="'search'" [subject]="'showSearchBar'"></td>
      <td app-toggle [label]="'navigate'" [subject]="'showNavigation'"></td>
      <td app-toggle [label]="'rotate'" [subject]="'showRotate'"></td>
      <td app-toggle [label]="'zoom'" [subject]="'showZoom'"></td>
      <td app-toggle [label]="'print'" [subject]="'showPrint'"></td>
      <td app-toggle [label]="'download'" [subject]="'showDownload'"></td>
    </ng-container>
    <td>
      <div class="govuk-grid-row"><div class="govuk-grid-column-full">
        <span class="govuk-!-font-weight-bold">Toolbar</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleToolbar" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleToolbar" [checked]="toggleToolbar.getValue()" (change)="toggleToolbar.next($event.target.checked)" aria-label="toolbar">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
    <td>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-!-font-weight-bold">Annotate</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleAnnotations" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleAnnotations" [checked]="toggleAnnotations.getValue()" (change)="toggleAnnotations.next($event.target.checked)" aria-label="annotate">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
    <td>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-!-font-weight-bold">Comments</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleCommentSummary" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleCommentSummary" [checked]="showCommentSummary | async" (change)="showCommentSummary.next($event.target.checked)" aria-label="comments">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
  </tr>
</table>
