<table style="float: right; margin-top: 15px;">
  <tr>
    <ng-container *ngIf="toggleToolbar.getValue()">
      <td><app-toggle [label]="'search'" (toggleButtonOverrides)="toggleButtonOverrides('showSearchBar', $event)"></app-toggle></td>
      <td><app-toggle [label]="'navigate'" (toggleButtonOverrides)="toggleButtonOverrides('showNavigation', $event)"></app-toggle></td>
      <td><app-toggle [label]="'rotate'" (toggleButtonOverrides)="toggleButtonOverrides('showRotate', $event)"></app-toggle></td>
      <td><app-toggle [label]="'zoom'" (toggleButtonOverrides)="toggleButtonOverrides('showZoom', $event)"></app-toggle></td>
      <td><app-toggle [label]="'print'" (toggleButtonOverrides)="toggleButtonOverrides('showPrint', $event)"></app-toggle></td>
      <td><app-toggle [label]="'download'" (toggleButtonOverrides)="toggleButtonOverrides('showDownload', $event)"></app-toggle></td>
      <td><app-toggle [label]="'comments'" (toggleButtonOverrides)="toggleButtonOverrides('showCommentSummary', $event)"></app-toggle></td>
    </ng-container>
    <td>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-!-font-weight-bold">Annotate</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleAnnotations" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleAnnotations" [checked]="toggleAnnotations.getValue()"
                   (change)="toggleAnnotations.next($event.target.checked)" aria-label="annotate">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
    <td>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-!-font-weight-bold">Redact</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleRedact" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleRedact" [checked]="toggleRedaction.getValue()"
                   (change)="toggleRedaction.next($event.target.checked)" aria-label="redact">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
    <td>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-!-font-weight-bold">ICP</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleICP" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleICP" [checked]="toggleICP.getValue()"
                   (change)="toggleICP.next($event.target.checked)" aria-label="icp">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
    <td>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-!-font-weight-bold">Audio</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleAudio" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleAudio" [checked]="toggleAudioPlayer.getValue()"
                   (change)="toggleAudioPlayer.next($event.target.checked)" aria-label="redact">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
  </tr>
</table>
