<table style="float: right; margin-top: 15px;">
  <tr>
    <ng-container *ngIf="toggleToolbar.getValue()">
      <td app-toggle [label]="'search'" (toggleButtonOverrides)="toggleButtonOverrides('showSearchBar', $event)"></td>
      <td app-toggle [label]="'navigate'" (toggleButtonOverrides)="toggleButtonOverrides('showNavigation', $event)"></td>
      <td app-toggle [label]="'rotate'" (toggleButtonOverrides)="toggleButtonOverrides('showRotate', $event)"></td>
      <td app-toggle [label]="'zoom'" (toggleButtonOverrides)="toggleButtonOverrides('showZoom', $event)"></td>
      <td app-toggle [label]="'print'" (toggleButtonOverrides)="toggleButtonOverrides('showPrint', $event)"></td>
      <td app-toggle [label]="'download'" (toggleButtonOverrides)="toggleButtonOverrides('showDownload', $event)"></td>
      <td app-toggle [label]="'comments'" (toggleButtonOverrides)="toggleButtonOverrides('showCommentSummary', $event)"></td>
    </ng-container>
    <td>
      <div class="govuk-grid-row"><div class="govuk-grid-column-full">
        <span class="govuk-!-font-weight-bold">Toolbar</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleToolbar" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleToolbar" [checked]="showToolbar" (change)="toggleToolbar.next($event.target.checked)" aria-label="toolbar">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
    <td>
      <div class="govuk-grid-row"><div class="govuk-grid-column-full">
        <span class="govuk-!-font-weight-bold">Custom Toolbar</span>
      </div>
        <div class="govuk-grid-column-full">
          <label for="toggleCustomToolbar" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleCustomToolbar" [checked]="showCustomToolbar" (change)="setCustomToolbar($event.target.checked)" aria-label="custom toolbar">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
    <td>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-!-font-weight-bold">Annotate</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleAnnotations" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleAnnotations" [checked]="toggleAnnotations.getValue()" (change)="toggleAnnotations.next($event.target.checked)" aria-label="annotate">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
    <td>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <span class="govuk-!-font-weight-bold">Redact</span>
        </div>
        <div class="govuk-grid-column-full">
          <label for="toggleRedact" class="switch govuk-!-margin-right-2">
            <input type="checkbox" id="toggleRedact" [checked]="toggleRedactions.getValue()" (change)="toggleRedactions.next($event.target.checked)" aria-label="redact">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </td>
  </tr>
</table>
