#loadingBar {
  display: none;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #ddd;
}

#loadingBar .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #333;
  overflow: hidden;
  transition: width 200ms;
}

@-webkit-keyframes progressIndeterminate {
  0% { left: -142px; }
  100% { left: 0; }
}

@keyframes progressIndeterminate {
  0% { left: -142px; }
  100% { left: 0; }
}

#loadingBar .progress.indeterminate {
  background-color: #999;
  transition: none;
}

#loadingBar .progress.indeterminate .glimmer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% + 150px);

  background: repeating-linear-gradient(135deg,
    #bbb 0, #999 5px,
    #999 45px, #ddd 55px,
    #ddd 95px, #bbb 100px);

  -webkit-animation: progressIndeterminate 950ms linear infinite;

  animation: progressIndeterminate 950ms linear infinite;
}
