.mv-toolbar__container {
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #dee0e2;

  position: sticky;
  z-index: 10;

  .mv-toolbar {
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      display: block;
      clear: both;
    }

  }

  .mv-toolbar-main {
    width: 100%;
    // This has the effect of grabbing any extra space, thus positioning the "More options" button at the far right of the toolbar
    margin-right: auto;
    // Used to hide a button on the toolbar
    .button-hidden-on-toolbar {
      display: none;
    }
  }
}

.mv-toolbar-more-options {
  flex: none;
  .mv-toolbar__menu-button--more-options {
    width: 155px;
    border-left: 1px solid #dee0e2;
    border-right: none;
    &:after {
      background-image: url(/assets/images/more.svg);
    }
    &:focus {
      outline: 3px solid #ffbf47;
      outline-offset: -2px;
      z-index: 99;    
    }
  }

  .mv-toolbar__menu-button--more-options__hidden {
    display: none;
  }
}



.mv-toolbar__menu-button--index {
  width: 100px;
  &:after {
    background-image: url(/assets/images/icon-casefile-items.svg);
    background-size: 18px 14px;
  }
}

.mv-toolbar__menu-button--draw {
  width: 140px;
  &:after {
    background-image: url(/assets/images/icon-draw-box.svg);
    background-position: 15px 50%;
    background-size: 20px 19px;
  }
}

.mv-toolbar__menu-button--highlight {
  width: 120px;
  &:after {
    background-image: url(/assets/images/icon-highlight.svg);
    background-size: 18px 19px;
  }
}

.mv-toolbar__menu-button--up,
.mv-toolbar__menu-button--down,
.mv-toolbar__menu-button--zoom-in,
.mv-toolbar__menu-button--zoom-out {
  width: 26px;
  left: 40px;
  font-weight: 400;
  &:after {
    position: absolute;
    content: "";
    top: 8px;
    bottom: 8px;
    background-size: 16px 19px;
    background-position: 0px 50%;
    background-repeat: no-repeat;
  }
}

.mv-toolbar__menu-button--page,
.mv-toolbar__menu-button--zoom,
.mv-toolbar__menu-button--rotate {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  background-color: #ffffff;
  color: #0b0c0c;
  cursor: pointer;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  height: 40px;
  border: 0;
  border-right: 1px solid #dee0e2;
  flex: none;
  text-align: left;
  :disabled {
    color: #aaabbb;
    &:after {
      opacity: 0.4;
    }
    cursor: default;
    &:hover {
      background-color: #ffffff;
    }
  }
  &.button-hidden-on-toolbar {
    border: 0;
  }
  &:hover {
    cursor: default;
    background: #fff;
  }
}

.mv-toolbar__menu-button--up:focus,
.mv-toolbar__menu-button--down:focus,
.mv-toolbar__menu-button--zoom-out:focus,
.mv-toolbar__menu-button--zoom-in:focus,
.mv-toolbar__menu-button--rotate_left:focus,
.mv-toolbar__menu-button--rotate_right:focus {
  outline: 3px solid #ffbf47;
  outline-offset: -2px;
  z-index: 1;
}

.mv-toolbar__menu-button--page {
  width: 210px;
  height: 30px;
  padding-top: 10px;
  span:first-of-type {
    padding: 0 10px;
  }
}

.mv-toolbar__menu-button--zoom {
  width: 190px;
  span:first-of-type {
    margin-left: 8px;
    margin-right: 0px;
  }
  button:first-of-type {
    margin-left: 10px;
  }
  button:last-of-type {
    margin-right: 10px;
  }
}

.mv-toolbar__menu-button--up {
  &:after {
    left: 62px;
    right: 122px;
    background-image: url(/assets/images/arrow-up.svg);
  }
}

.mv-toolbar__menu-button--down {
  &:after {
    left: 88px;
    right: 96px;
    background-image: url(/assets/images/arrow-down.svg);
  }
}

.mv-toolbar__menu-button--zoom-out {
  &:after {
    left: 64px;
    right: 110px;
    background-image: url(/assets/images/search-minus.svg);
  }
}

.mv-toolbar__menu-button--zoom-in {
  &:after {
    left: 157px;
    right: 14px;
    background-image: url(/assets/images/search-plus.svg);
  }
}

.mv-toolbar__menu-button--rotate {
  width: 140px;
  height: 30px;
  padding-top: 10px;
  button:first-of-type {
    margin-left: 8px;
  }
  button:last-of-type {
    margin-right: 8px;
  }
}

.mv-toolbar__menu-button--rotate_left,
.mv-toolbar__menu-button--rotate_right {
  width: 26px;
  padding-left: 10px;
  font-weight: 400;
  &:after {
    position: absolute;
    content: "";
    top: 8px;
    bottom: 8px;
    background-image: url(/assets/images/icon-casefile-rotate-left.svg);
    background-repeat: no-repeat;
    background-size: 16px 19px;
    background-position: 0px 50%;
  }
}

.mv-toolbar__menu-button--rotate_left {
  &:after {
    left: 13px;
    right: 110px;
    background-image: url(/assets/images/icon-casefile-rotate-left.svg);
  }
}

.mv-toolbar__menu-button--rotate_right {
  &:after {
    left: 39px;
    right: 81px;
    background-image: url(/assets/images/icon-casefile-rotate.svg);
  }
}

.mv-toolbar__menu-button--search {
  width: 115px;
  &:after {
    background-image: url(/assets/images/search.svg);
  }
}

.mv-toolbar__menu-button--present {
  width: 120px;
  &:after {
    background-image: url(/assets/images/present.svg);
    background-size: 16px 19px;    
  }
}

.mv-toolbar__menu-button--redact {
  width: 115px;
  &:after {
    background-image: url(/assets/images/marker-pen.svg);
    background-size: 18px 19px;    
  }
}

.mv-toolbar__menu-button--grab {
  width: 170px;
  &:after {
    background-image: url(/assets/images/grab_n_drag.svg);
  }
}

.mv-toolbar__menu-button--download {
  width: 135px;
  &:after {
    background-image: url(/assets/images/download-button.svg);
  }
}

.mv-toolbar__menu-button--print {
  width: 100px;
  &:after {
    background-image: url(/assets/images/printer.svg);
  }
}

.mv-toolbar__menu-button--comments {
  width: 140px;
  &:after {
    background-image: url(/assets/images/icon-casefile-comments.svg);
  }
}

.button-image {
  border: none;
  margin: 0px;
  height: 22px;
  vertical-align: middle;
  background-color: transparent;
}

.dropdown-menu {
  background-color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  border-left: 1px solid #dee0e2;
  // Each toolbar button already has a border-right, so no need to add one here
  border-bottom: 1px solid #dee0e2;

  // Used to hide a button on the dropdown menu
  .button-hidden-on-dropdown {
    display: none;
  }
  &:focus {
    outline: 0;
    border-left: 1px solid #dee0e2;
    border-bottom: 1px solid #dee0e2;
  }
}

/* remove up and down arrows from page number field as there are already up and down icons on the toolbar
/* Chrome, Safari, Edge, Opera */
#pageNumber ::-webkit-outer-spin-button, #pageNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
#pageNumber[type=number] {
  -moz-appearance: textfield;
}

.toolbarLabel {
  font-size: 14px;
  color: #000;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid #ffbf47;
  outline-offset: -2px;
  z-index: 99;
}

.notSupported {
  float: right;
}

.hmcts-toolbar-select {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  max-width: 100%;
  height: 30px;
  padding: 0px;
  margin-top: 5px;
  border: 2px solid #0b0c0c;
}
@media (min-width: 40.0625em) {
  .mv-button {
    font-size: 1rem;
    line-height: 1;
  }
}
