@import "buttons";
@import "side-bar";
@import "search-bar";
@import "sub-toolbar";
@import "thumbnail";
@import "dialog-overlay";
@import "field-label";
@import "loading-bar";
@import "debugging";
@import "text-selection";
@import "media";
@import "redaction-toolbar";
@import "icp-buttons";
@import "icp-toolbar";
@import "media-viewer-toolbar";

.hidden {
  display: none !important;
}
[hidden] {
  display: none !important;
}

#outerContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

#mainContainer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 320px;
}

#viewerContainer {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
}
#viewerContainer:not(.pdfPresentationMode) {
  transition-duration: 200ms;
  transition-timing-function: ease;
}
#viewerContainer {
  box-shadow: inset 1px 0 0 hsla(0, 0%, 100%, 0.05);
}
html[dir="rtl"] #viewerContainer {
  box-shadow: inset -1px 0 0 hsla(0, 0%, 100%, 0.05);
}

#toolbarContainer {
  width: 100%;
}

#toolbarContainer,
.findbar,
.secondaryToolbar {
  position: relative;
  height: 42px;
}

html[dir="rtl"] #toolbarContainer,
.findbar,
.secondaryToolbar {
  box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.15), inset 0 -1px 0 hsla(0, 0%, 100%, 0.05),
    0 1px 0 hsla(0, 0%, 0%, 0.15), 0 1px 1px hsla(0, 0%, 0%, 0.1);
}

#toolbarViewer {
  height: 32px;
}

.findbar,
.secondaryToolbar {
  top: 32px;
  position: absolute;
  z-index: 10000;
  height: auto;
  min-width: 16px;
  padding: 0px 6px 0px 6px;
  margin: 4px 2px 4px 2px;
  color: hsl(0, 0%, 85%);
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  cursor: default;
}

#toolbarViewerMiddle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

html[dir="rtl"] #toolbarViewerRight {
  float: left;
}
#toolbarViewerRight {
  float: right;
}

#toolbarViewerMiddle > *,
#toolbarViewerRight > *,
.findbar * {
  position: relative;
  float: left;
}

html[dir="rtl"] #toolbarViewerMiddle > *,
html[dir="rtl"] #toolbarViewerRight > *,
html[dir="rtl"] .findbar * {
  position: relative;
  float: right;
}

.verticalToolbarSeparator {
  display: block;
  padding: 8px 0;
  margin: 8px 4px;
  width: 1px;
  background-color: hsla(0, 0%, 0%, 0.5);
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.08);
}
.verticalToolbarSeparator {
  margin-left: 2px;
}
html[dir="rtl"] .verticalToolbarSeparator {
  margin-right: 2px;
}

.horizontalToolbarSeparator {
  display: block;
  margin: 0 0 4px 0;
  height: 1px;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.08);
}

.noResults {
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.8);
  font-style: italic;
  cursor: default;
}

/* TODO: file FF bug to support ::-moz-selection:window-inactive
   so we can override the opaque grey background when the window is inactive;
   see https://bugzilla.mozilla.org/show_bug.cgi?id=706209 */
::-moz-selection {
  background: rgba(0, 0, 255, 0.3);
}
::selection {
  background: rgba(0, 0, 255, 0.3);
}

#errorWrapper {
  background: none repeat scroll 0 0 #ff5555;
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1000;
  padding: 3px;
  font-size: 0.8em;
}
.loadingInProgress #errorWrapper {
  top: 37px;
}

#errorMessageLeft {
  float: left;
}

#errorMessageRight {
  float: right;
}

#errorMoreInfo {
  background-color: #ffffff;
  color: black;
  padding: 3px;
  margin: 3px;
  width: 98%;
}

.clearBoth {
  clear: both;
}

.fileInput {
  background: white;
  color: black;
  margin-top: 5px;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

@page {
  margin: 0;
}

#printContainer {
  display: none;
}

.has-redact-bar.has-different-page-size {
  .rotateCcw,
  .rotateCw {
    display: none;
  }
}
