
  /* Rules for Retina screens */
  .toolbarButton::before {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    top: -5px;
  }

  .secondaryToolbarButton::before {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    top: -4px;
  }

  .toolbarButton::before,
  html[dir='rtl'] .toolbarButton::before {
    left: -1px;
  }

  .secondaryToolbarButton::before {
    left: -2px;
  }
  html[dir='rtl'] .secondaryToolbarButton::before {
    left: 186px;
  }

  .toolbarField.pageNumber.visiblePageIsLoading,
  #findInput[data-status="pending"] {
    background-image: url(/assets/images/loading-small@2x.png);
    background-size: 16px 17px;
  }

  .toolbarButton#sidebarCommentsToggle::before, .toolbarButton#sidebarToggle::before  {
    content: url(/assets/images/toolbarButton-sidebarToggle@2x.png);
  }
  .toolbarButton.commentsBar {
   transform: rotate(180deg);
  }

  html[dir='rtl'] .toolbarButton#sidebarCommentsToggle::before {
    content: url(/assets/images/toolbarButton-sidebarToggle-rtl@2x.png);
  }

  .toolbarButton#secondaryToolbarToggle::before {
    content: url(/assets/images/toolbarButton-secondaryToolbarToggle@2x.png);
  }
  html[dir='rtl'] .toolbarButton#secondaryToolbarToggle::before {
    content: url(/assets/images/toolbarButton-secondaryToolbarToggle-rtl@2x.png);
  }

  .toolbarButton.findPrevious::before {
    content: url(/assets/images/findbarButton-previous@2x.png);
  }
  html[dir='rtl'] .toolbarButton.findPrevious::before {
    content: url(/assets/images/findbarButton-previous-rtl@2x.png);
  }

  .toolbarButton.findNext::before {
    content: url(/assets/images/findbarButton-next@2x.png);
  }
  html[dir='rtl'] .toolbarButton.findNext::before {
    content: url(/assets/images/findbarButton-next-rtl@2x.png);
  }

  .toolbarButton.pageUp::before {
    content: url(/assets/images/toolbarButton-pageUp@2x.png);
  }
  html[dir='rtl'] .toolbarButton.pageUp::before {
    content: url(/assets/images/toolbarButton-pageUp-rtl@2x.png);
  }

  .toolbarButton.pageDown::before {
    content: url(/assets/images/toolbarButton-pageDown@2x.png);
  }
  html[dir='rtl'] .toolbarButton.pageDown::before {
    content: url(/assets/images/toolbarButton-pageDown-rtl@2x.png);
  }

  .toolbarButton.zoomIn::before {
    content: url(/assets/images/toolbarButton-zoomIn@2x.png);
  }

  .toolbarButton.zoomOut::before {
    content: url(/assets/images/toolbarButton-zoomOut@2x.png);
  }

  .toolbarButton.presentationMode::before,
  .secondaryToolbarButton.presentationMode::before {
    content: url(/assets/images/toolbarButton-presentationMode@2x.png);
  }

  .toolbarButton.print::before,
  .secondaryToolbarButton.print::before {
    content: url(/assets/images/toolbarButton-print@2x.png);
  }

  .toolbarButton.openFile::before,
  .secondaryToolbarButton.openFile::before {
    content: url(/assets/images/toolbarButton-openFile@2x.png);
  }

  .toolbarButton.redact::before,
  .secondaryToolbarButton.redact::before {
    content: url(/assets/images/secondaryToolbarButton-spreadNone@2x.png);
  }

  .toolbarButton.download::before,
  .secondaryToolbarButton.download::before {
    content: url(/assets/images/toolbarButton-download@2x.png);
  }

  .toolbarButton.icpCreateSession::before,
  .secondaryToolbarButton.icpCreateSession::before {
    content: url(/assets/images/treeitem-collapsed@2x.png);
  }

  .toolbarButton.bookmark::before,
  .secondaryToolbarButton.bookmark::before {
    content: url(/assets/images/toolbarButton-bookmark@2x.png);
  }

  .toolbarButton.addBookmark::before,
  .secondaryToolbarButton.addBookmark::before {
    content: url(/assets/images/toolbarButton-addBookmark@2x.png);
  }

  #viewThumbnail.toolbarButton::before {
    content: url(/assets/images/toolbarButton-viewThumbnail@2x.png);
  }

  #viewOutline.toolbarButton::before {
    content: url(/assets/images/toolbarButton-viewOutline@2x.png);
  }
  html[dir="rtl"] #viewOutline.toolbarButton::before {
    content: url(/assets/images/toolbarButton-viewOutline-rtl@2x.png);
  }

  #viewAttachments.toolbarButton::before {
    content: url(/assets/images/toolbarButton-viewAttachments@2x.png);
  }

  #viewFind.toolbarButton::before {
    content: url(/assets/images/toolbarButton-search@2x.png);
  }

  .secondaryToolbarButton.firstPage::before {
    content: url(/assets/images/secondaryToolbarButton-firstPage@2x.png);
  }

  .secondaryToolbarButton.lastPage::before {
    content: url(/assets/images/secondaryToolbarButton-lastPage@2x.png);
  }

  .toolbarButton.rotateCcw::before,
  .secondaryToolbarButton.rotateCcw::before {
    content: url(/assets/images/secondaryToolbarButton-rotateCcw@2x.png);
  }

  .toolbarButton.rotateCw::before,
  .secondaryToolbarButton.rotateCw::before {
    content: url(/assets/images/secondaryToolbarButton-rotateCw@2x.png);
  }

  .secondaryToolbarButton.selectTool::before {
    content: url(/assets/images/secondaryToolbarButton-selectTool@2x.png);
  }

  .secondaryToolbarButton.handTool::before {
    content: url(/assets/images/secondaryToolbarButton-handTool@2x.png);
  }

  .secondaryToolbarButton.scrollVertical::before {
    content: url(/assets/images/secondaryToolbarButton-scrollVertical@2x.png);
  }

  .secondaryToolbarButton.scrollHorizontal::before {
    content: url(/assets/images/secondaryToolbarButton-scrollHorizontal@2x.png);
  }

  .secondaryToolbarButton.scrollWrapped::before {
    content: url(/assets/images/secondaryToolbarButton-scrollWrapped@2x.png);
  }

  .secondaryToolbarButton.spreadNone::before {
    content: url(/assets/images/secondaryToolbarButton-spreadNone@2x.png);
  }

  .secondaryToolbarButton.spreadOdd::before {
    content: url(/assets/images/secondaryToolbarButton-spreadOdd@2x.png);
  }

  .secondaryToolbarButton.spreadEven::before {
    content: url(/assets/images/secondaryToolbarButton-spreadEven@2x.png);
  }

  .secondaryToolbarButton.highlightBtn::before {
    content: url(/assets/images/toolbarButton-highlight@2x.png);
  }

  .secondaryToolbarButton.drawBtn::before {
    content: url(/assets/images/toggleButton-draw@2x.png);
  }
  mv-main-toolbar {
    .highlightBtn, .drawBtn, .commentsBar {
      .has-redact-bar & {
        display: none;
      }
    }
  }

  .toolbarButton.highlightBtn::before {
    content: url(/assets/images/toolbarButton-highlight@2x.png);
  }

  .toolbarButton.drawBtn::before {
    content: url(/assets/images/toggleButton-draw@2x.png);
  }

  .secondaryToolbarButton.documentProperties::before {
    content: url(/assets/images/secondaryToolbarButton-documentProperties@2x.png);
  }

  .outlineItemToggler::before {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    top: -1px;
    content: url(/assets/images/treeitem-expanded@2x.png);
  }
  .outlineItemToggler.outlineItemsHidden::before {
    content: url(/assets/images/treeitem-collapsed@2x.png);
  }
  html[dir='rtl'] .outlineItemToggler.outlineItemsHidden::before {
    content: url(/assets/images/treeitem-collapsed-rtl@2x.png);
  }
  .outlineItemToggler::before {
    right: 0;
  }
  html[dir='rtl'] .outlineItemToggler::before {
    left: 0;
  }


@media print {
  /* General rules for printing. */
  body {
    background: transparent none;
  }

  /* Rules for browsers that don't support mozPrintCallback. */
  #sidebarContainer, #secondaryToolbar, .toolbar, #loadingBox, #errorWrapper, .textLayer {
    display: none;
  }
  #viewerContainer {
    overflow: visible;
  }

  #mainContainer, #viewerContainer, .page, .page canvas {
    position: static;
    padding: 0;
    margin: 0;
  }

  .page {
    float: left;
    display: none;
    border: none;
    box-shadow: none;
    background-clip: content-box;
    background-color: white;
  }

  .page[data-loaded] {
    display: block;
  }

  .fileInput {
    display: none;
  }

  /* Rules for browsers that support PDF.js printing */
  body[data-pdfjsprinting] #outerContainer {
    display: none;
  }
  body[data-pdfjsprinting] #printContainer {
    display: block;
  }
  #printContainer {
    height: 100%;
  }
  /* wrapper around (scaled) print canvas elements */
  #printContainer > div {
    position: relative;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: visible;
    page-break-after: always;
    page-break-inside: avoid;
  }
  #printContainer canvas,
  #printContainer img {
    display: block;
  }
}

.visibleLargeView,
.visibleMediumView,
.visibleSmallView {
  display: none;
}

@media all and (max-width: 900px) {
  #toolbarViewerMiddle {
    display: table;
    margin: auto;
    left: auto;
    position: inherit;
    -webkit-transform: none;
    transform: none;
  }
}

@media all and (max-width: 840px) {
  #sidebarContent {
    background-color: hsla(0,0%,0%,.7);
  }

  .sidebarOpen #viewerContainer {
    left: 0px !important;
  }
  html[dir='rtl'] .sidebarOpen #viewerContainer {
    right: 0px !important;
  }

  .hiddenLargeView,
  .hiddenMediumView {
    display: inherit;
  }
  .visibleLargeView,
  .visibleMediumView {
    display: none;
  }
}

@media all and (max-width: 770px) {
  .hiddenLargeView {
    display: none;
  }
  .visibleLargeView {
    display: inherit;
  }
}

@media all and (max-width: 700px) {
  .hiddenMediumView {
    display: none;
  }
  .visibleMediumView {
    display: inherit;
  }
}

@media all and (max-width: 640px) {
  .hiddenSmallView, .hiddenSmallView * {
    display: none;
  }
  .visibleSmallView {
    display: inherit;
  }
  .toolbarButtonSpacer {
    width: 0;
  }
  .findbar {
    left: 38px;
  }
  html[dir='rtl'] .findbar {
    right: 38px;
  }
}

#annotationButtons {
  position: absolute;
  left: 23%;
  transform: translateX(-23%);
}
