<div class="toolbar">
  <div class="toolbarContainer">
    <div class="column left-pane">
      <button class="govuk-button" data-module="govuk-button" (click)="search = !search">
        search
      </button>
      <button class="govuk-button" data-module="govuk-button" (click)="prevPage()">
        Prev Page
      </button>
      <button class="govuk-button" data-module="govuk-button" (click)="nextPage()">
        Next Page
      </button>
      <div class="govuk-form-group page-input-form">
        <input #pageInput
               class="govuk-input page-input"
               id="event-name"
               name="event-name"
               type="number"
               (change)="enterPage(+pageInput.value)">
      </div>
      <app-search-bar *ngIf="search"
                      [toolbarEvents]="toolbarEvents"></app-search-bar>
    </div>
    <div class="column middle-pane">
      <button class="govuk-button" data-module="govuk-button" (click)="rotate(270)">
        rot -90
      </button>
      <button class="govuk-button" data-module="govuk-button" (click)="rotate(90)">
        rot 90
      </button>
      <button class="govuk-button" data-module="govuk-button" (click)="stepZoom(-0.1)">
        -
      </button>
      <select class="govuk-select" data-module="govuk-select" (change)="zoom($event.target.value)">
        <option #zoomSelect id="customScaleOption" title="" [value]="zoomValue">{{(zoomValue) * 100 | number: '1.0-0'}}%</option>
        <option title="" value="0.1" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 10 }'>10%</option>
        <option title="" value="0.25" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 25 }'>25%</option>
        <option title="" value="0.5" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 50 }'>50%</option>
        <option title="" value="0.75" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 75 }'>75%</option>
        <option title="" value="1" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 100 }'>100%</option>
        <option title="" value="1.25" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 125 }'>125%</option>
        <option title="" value="1.5" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 150 }'>150%</option>
        <option title="" value="2.5" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 250 }'>250%</option>
        <option title="" value="3" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 300 }'>300%</option>
        <option title="" value="5" data-l10n-id="page_scale_percent"
                data-l10n-args='{ "scale": 500 }'>500%</option>
      </select>
      <button class="govuk-button" data-module="govuk-button" (click)="stepZoom(0.1)">
        +
      </button>
    </div>
    <div class="column right-pane">
      <button class="govuk-button" data-module="govuk-button" (click)="print()">
        Print
      </button>
      <button class="govuk-button" data-module="govuk-button" (click)="download()">
        Download
      </button>
    </div>
  </div>
</div>
